/* Layout */
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.showoutline {
  border: 1px solid #aaa;
}

#editor {
  padding: 0;
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

.CodeMirror {
  position: relative;
  height: 200px;
}

.CodeMirror-scroll {
  position:  relative;
  height: 100%;
}

.CodeMirror-gutter {
  height: 100%;
  background-color: transparent;
  border: none;
  width: 40px;
}

.CodeMirror-gutter-text {
  background-color: transparent;
  color: #bebec5;
}

.CodeMirror-gutter-text pre {
  color: #9c9ca4;
}